body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #444444;
	font-size: 9pt;
	background-color: #FAFAFA;
}

:root {
	--border-radius: 20px;
}

.button {
	border-radius: var(--border-radius);
	padding: 10px 32px;
	margin: 4px 2px;
}

.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	transition-duration: 0.4s;
}

#list {
  width: 100%;
}

#map {
	height: 300px;
}

#menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header {
	grid-area: header;
	border-radius: var(--border-radius);
}

.menu {
	grid-area: menu;
	border-radius: var(--border-radius);
}

.main {
	grid-area: main;
	border-radius: var(--border-radius);
}

.footer {
	grid-area: footer;
	border-radius: var(--border-radius);
}

.grid-container {
	border-radius: 25px;
	display: grid;
	grid-template-areas: 'header header header header header header' 'menu main main main main main' 'menu footer footer footer footer footer';
	grid-gap: 10px;
	background-color: #76B900;
	padding: 10px;
}

.grid-container>div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
	border-bottom: 1px solid #ccc;
}

li:last-child {
	border: none;
}

li a {
	text-decoration: none;
	color: #000;
	-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
	transition: font-size 0.3s ease, background-color 0.3s ease;
	display: block;
	width: 200px;
}

li a:hover {
	font-size: 30px;
	background: #76B900;
	color: white;
	border-radius: var(--border-radius);
}

input[type=text],
select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: var(--border-radius);
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
	transition: font-size 0.3s ease, background-color 0.3s ease;
}

input[type=submit]:hover {
	background-color: #45a049;
	background: #76B900;
	color: white;
	border-radius: var(--border-radius);
}

div>label {
	font-size: 20px;
}

#form_addnew_dialog {
	border-radius: var(--border-radius);
	background-color: lightgray;
	padding: 20px;
}


#login_view{
	width: 300px;
	height: auto;
	padding: 0px 30px;
	background-color: #FAFAFA;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 #000;
	margin: auto;
	}
	
	#login_view > form{
	  width: 250px;
	  text-align: center;
	  margin-left: auto;
	  margin-right: auto;
	}
	
	
	#login_view input{
	width: 250px;
	padding: 8px 0px;
	border-radius: 10px;
	border: none;
	background-color: #c7f3c9;
	margin-bottom: 10px;
	}
	
	#login_view button{
	 width: 100px;
	 padding: 8px 0px;
	border-radius: 10px;
	margin-bottom: 20px;
	}

	#login_view h2{
		padding-top: 10px;
	}

	#login_view label{
		font-size: medium;
	}


